<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header" align="center" >


        <a href="#" class="navbar-brand" routerLink="/app-root" routerLinkActive="active"></a>



         <a href="#" class="navbar-brand" routerLink="/home" style="color: rgb(20, 50, 220);">Home</a>           
         
         <a href="#" class="navbar-brand" routerLink="/insert" style="color: rgb(20, 50, 220);">Insert</a>
         
        <a href="#" class="navbar-brand" routerLink="/update" style="color: rgb(20, 50, 220);">Update</a>
        
        <a href="#" class="navbar-brand" routerLink="/viewdata" style="color: rgb(20, 50, 220);">View</a>
        
        <a href="#" class="navbar-brand" routerLink="/delete" style="color: rgb(20, 50, 220);">Delete</a>
        
        
    </div>   
</nav>
<h1 style="font-size: x-large; text-align: center; color: coral;"> <b> EMPLOYEE MANAGEMENT  </b>  </h1>

<h2 style="font-weight: bolder;">  An employee management system is a software, that helps your employees to give their best efforts every day to achieve the goals of your organization. <br>
     It guides and manages employees efforts in the right direction. <br>
      It also securely stores and manages personal and other work-related details for your employees.
      <br>
      <br>
      <br>
      Where is employee management system used?
      <br>
      <br>
Human resources (HR) professionals often use an employee management system (EMS),<br>
 including recruitment, offboarding and performance management. <br>
Using a dedicated EMS can help an HR manager streamline the hiring process and improve workplace efficiency.
    </h2>


